@use '@/styles/variables/colors';
@use '@/styles/mixins/elements';

.demo {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__schedule {
    position: relative;
    border-radius: 24px;
    background: colors.$color-dark-background;
    background: colors.$gradient-purple-background;
    width: 80%;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin: auto;
  }

  &__heading {
    color: colors.$white;
    font-size: 48px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 56px;
  }

  &__imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    color: colors.$state-light-for-dark-bg;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 24px;
  }

  &__info {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
  }

  @media screen and (max-width: 1050px) {
    &__schedule {
      display: flex;
      flex-direction: column-reverse;
      padding: 50px 0;
    }

    &__info {
      align-items: center;
      gap: 16px;
    }

    &__heading {
      font-size: 32px;
      text-align: center;
    }

    &__title {
      font-size: 16px;
      text-align: center;
    }
  }
}
