@use '@/styles/mixins/elements';
@use '@/styles/variables/colors';

.button {
  @include elements.reset-button-style;
  padding: 16px 24px;
  color: colors.$grey;
  font-weight: 700;
  font-size: 16px;
  border-radius: 16px;
  border: 2px solid colors.$grey;
  background-color: transparent;
  line-height: 140%;
  width: fit-content;
  transition: 0.3s;
  font-style: normal;
  opacity: 0.75;
  font-family: 'Inter', sans-serif;

  &_colored {
    background-color: colors.$primary;
    color: colors.$white;
    border: 2px solid colors.$primary;
  }

  &_white {
    border: none;
    color: colors.$white;
  }

  &_gray {
    border-color: colors.$grey;
    color: colors.$grey;
  }

  &:hover {
    opacity: 1;
  }
}
