@use '@/styles/mixins/elements';
@use '@/styles/variables/colors';

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    @include elements.landing-title;
  }

  &__heading {
    @include elements.landing-heading;
    margin-top: 16px;
    text-align: start;
  }

  &__description {
    @include elements.landing-feature-description;
    margin-top: 24px;
  }

  &__button {
    margin-top: 32px;
  }

  @media screen and (max-width: 1024px) {
    &__heading {
      font-size: 32px;
      line-height: 130%;
      letter-spacing: 1.2px;
    }
  }
}
