@use '@/styles/mixins/elements';
@use '@/styles/variables/colors';

.section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 'img info';
  width: 80%;
  margin: 0 auto;

  &_reverted {
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 'info img';
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'info'
      'img';
  }
  gap: 30px;
}

.image {
  grid-area: img;

  &__img {
    width: 100%;
    height: auto;
  }
}
