@use '@/styles/mixins/elements';
@use '@/styles/variables/colors';

.section {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 'img info';
  width: 80%;
  margin: 0 auto;

  &_reverted {
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 'info img';
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'img'
      'info';
  }
  gap: 30px;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    @include elements.landing-title;
  }

  &__heading {
    @include elements.landing-heading;
    margin-top: 16px;
    text-align: start;
  }

  &__description {
    @include elements.landing-feature-description;
    margin-top: 24px;
  }

  &__button {
    margin-top: 32px;
  }
}

.image {
  grid-area: img;

  &__img {
    width: 100%;
    height: auto;
  }
}
