@use '@/styles/variables/colors';
@use '@/styles/mixins/elements';

.list {
  display: flex;
  list-style: none;
  font-weight: 600;
  color: colors.$dark-gray;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  cursor: pointer;

  &__item {
    transition: 0.3s;

    &_active {
      color: colors.$primary;
    }
  }

  &__link {
    display: block;
    padding: 0 23px;
    transition: 0.3s;
    font-size: 16px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    line-height: 24px;


    &:hover {
      color: colors.$primary;
    }
  }
}

.nav {
  position: relative;

  &_tablet {
    @include elements.center-content;

    .list {
      flex-direction: column;
      gap: 0;
      align-items: flex-start;
      justify-content: center;

      &__item {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
      }

      &__link {
        padding: 15px 0;
      }
    }
  }
}

.close {
  &__button {
    position: absolute;
    top: 6px;
    right: 6px;
    @include elements.reset-button-style;

    &:hover {
      cursor: pointer;
    }
  }
}
