@use '@/styles/variables/colors';
@use '@/styles/mixins/elements';

.header {
  @include elements.center-content;
  padding: 49px 0 20px 0;

  &_tablet {
    margin-top: 0;
  }

  &__auth {
    margin-left: auto;
  }

  &__nav {
    margin-left: 33px;
  }

  &_menu {
    background-color: colors.$light;
  }

  @media screen and (max-width: 1300px) {
    margin-top: 0;
    margin-bottom: 0;
    padding: 43px 0;
  }

  @media screen and (max-width: 1024px) {
    padding-top: 48px;
  }
}

.logo {
  @media screen and (max-width: 1300px) {
    width: 138px;
    height: 48px;
  }

  @media screen and (max-width: 1024px) {
    width: 115px;
    height: 40px;
  }
}

.container {
  @include elements.center-content;
  width: 78%;
  justify-content: flex-start;

  @media screen and (max-width: 1300px) {
    width: 88%;
  }

  @media screen and (max-width: 1024px) {
    width: 83%;
  }
}

.burger {
  &__button {
    @include elements.reset-button-style;
    transition: 0.3s;
    margin-left: auto;

    &:hover {
      cursor: pointer;
      color: colors.$primary;
    }
  }
}
