$white: white;
$black: black;
$background: #EBEBEB;
$primary: #FF6E30;
$secondary: #748FB5;
$transparent-secondary: rgba(116, 143, 181, 0.16);
$dark: #1E252B;
$light: #EEEFF2;
$light-gray: #BAC3CA;
$dark-gray: rgba(110, 117, 124, 1);
$grey: #272E35;
$grey-transparent: rgba(152, 152, 152, 0.4);
$state-light-for-dark-bg: #6A7986;
$color-dark-background: #2C353D;
$purple: rgba(120,88,147,1);
$transparent-white: rgba(255, 255, 255, 0.45);
