$white: white;
$primary: #FF6E30;
$secondary: #748FB5;
$dark: #1E252B;
$light: #EEEFF2;
$light-gray: #BAC3CA;
$dark-gray: rgba(110, 117, 124, 1);
$grey: #272E35;
$grey-transparent: rgba(152, 152, 152, 0.4);
