@use '@/styles/variables/colors';

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reset-button-style {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@mixin landing-heading {
  text-align: center;
  font-size: 48px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

@mixin landing-title {
  font-size: 12px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: colors.$secondary;
}

@mixin landing-feature-description {
  color: colors.$dark-gray;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
