@use '../../styles/variables/colors';
@use '../../styles/mixins/elements';

.auth {
  display: flex;
  gap: 30px;
  @include elements.center-content;

  &__button {
    font-weight: 600;
    color: colors.$dark-gray;
    text-transform: capitalize;
    transition: 0.3s;

    &:hover {
      color: colors.$primary;
    }

    &_colored {
      background-color: colors.$primary;
      color: colors.$white;
      padding: 16px 24px;
      border-radius: 16px;

      &:hover {
        color: colors.$black;
      }
    }
  }
}
